<div class="wrapper">
  <div class="contentIni">
    <div class="contentIni__header">
      <div class="logo"></div>
      <div class="title">
        <h2>Iniciar Sesión</h2>
      </div>
    </div>
    <div class="contentIni__fields">

      <div class="email">
        <div class="inpText"></div>
          <input type="text" value="" placeholder="Ingresa tu correo electronico">
        <div class="icon">
          <i class="fas fa-envelope"></i>
        </div>
      </div>

      <div class="pass">
        <div class="inpText"></div>
          <input type="password" value="" placeholder="Contraseña">
        <div class="icon">
          <i class="fas fa-key"></i>
        </div>
      </div>
    </div>
    <div class="contentIni__access">
      <div class="btn checkRem">
        <input type="checkbox" name="remember" id="remember">
        <label for="checkbox">recordarme</label>
      </div>

      <div class="btn">
        <button class="enter" type="submit">Entrar</button>
      </div>

      <div class="btn">
        <button class="new" type="submit">Registrarse</button>
      </div>
      <div class="btn">
        <button class="rem" type="submit">Recuperar contraseña</button>
      </div>
    </div>
  </div>
</div>
