<div class="wrapper">
  <div class="bgRect"></div>
  <div class="navbar">
    <div class="bar">
      <div class="contentLogo"></div>
      <div class="contentUsuario">
        <h4>
          Nombre usuario
        </h4>
      </div>
    </div>
  </div>
  <div class="main">


    <div class="content">

      <div class="content__questions">
        <p>102. Ser guionista de cine o de televisión</p>
      </div>

      <div class="content__ask">

        <div class="content__ask--option">
          <div class="emoji op1">
          </div>
          <div class="text">
            ME GUSTA
          </div>
        </div>

        <div class="content__ask--option">
          <div class="emoji op2">

          </div>
          <div class="text">
            NO ME GUSTA
          </div>
        </div>

        <div class="content__ask--option">
          <div class="emoji op3">

          </div>
          <div class="text">
            NO CONOCES ESTA PROFESIÓN
          </div>
        </div>

        <div class="content__ask--option">
          <div class="emoji op4">

          </div>
          <div class="text">
            ME ES INDIFERENTE O TENGO DUDAS
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <div class="bar">

      <div class="contentSection">
        <h4>
          SECCIÓN 3
        </h4>
      </div>

      <div class="contentProgress"></div>
    </div>
  </div>
</div>

